body {
  font-family: MyriadPro-Regular;
  font-size: 17px;
  color: black;
}
@font-face {
  font-family: MyriadPro-Regular;
  src: url(../fonts/MyriadPro-Regular.otf);
}
@font-face {
  font-family: Almarai-Bold;
  src: url(../fonts/Almarai-Bold.ttf);
}
@font-face {
  font-family: Almarai-ExtraBold;
  src: url(../fonts/Almarai-ExtraBold.ttf);
}
a {
  color: black;
}
a:hover {
  color: #e5125f;
}
a:active {
  color: #e5125f;
}
img {
  max-width: 100%;
}
.navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Almarai-ExtraBold;

  padding: 0px !important;
}
.nav-item {
  margin: 1px 15px;
  display: flex;
  align-items: center;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.header-app {
  height: 50px;
}
.navbar-nav .active {
  border-bottom: 4px solid #e5125f;
}
.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbar-nav .active a {
  color: #e5125f !important;
}
.light-blue-bg {
  background-color: #01afec;
}
.white-bg {
  background-color: white;
}
.purpble-bg {
  background-color: #3a1769;
}
.pink-bg {
  background-color: #e5125f;
}
.main-title {
  font-family: Almarai-ExtraBold;
  color: white;
  font-size: 52px;
}
.full {
  width: 100%;
}
.nopad {
  padding: 0px;
  overflow: hidden;
}
.ac {
  align-items: center;
}
.mt2 {
  margin-top: 2em;
}
.top-apple-icon {
  border-radius: 7px;
  height: 58px;
  background-color: white;
}
.text-pad {
  padding: 28px 85px;
}

.borderssec {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 22px;
  position: relative;
}
.borderssec p {
  margin: 0px;
}
.sec-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}
.borderssec:before {
  content: " ";
  background-image: url(../img/left-border.png);
  position: absolute;
  left: 0px;
  top: 0;
  height: 90px;
  background-size: 100% 100%;
  height: 200px;
  width: 200px;
}
.borderssec:after {
  content: " ";
  background-image: url(../img/right-border.png);
  position: absolute;
  right: 0px;
  bottom: 0;
  height: 90px;
  background-size: 100% 100%;
  height: 200px;
  width: 200px;
}
.dvd {
  background-color: white;
  height: 3px;
  width: 31px;
  margin: 0px auto;
  margin-bottom: 28px;
  margin-top: 28px;
}
.dvd-black {
  background-color: black;
  height: 3px;
  width: 31px;
  margin: 0px auto;
  margin-bottom: 28px;
  margin-top: 28px;
}
.borderssec a {
  text-decoration: underline;
  color: white;
}
.mt2 {
  margin-top: 2em;
}

.getapp {
  background-image: url(../img/get-app.png);
  background-size: cover;
  background-position: center center;
  padding-top: 80px;
  position: relative;
  padding-bottom: 80px;
}
.getapp:before {
  content: " ";
  background-image: url(../img/left-border.png);
  position: absolute;
  left: 0px;
  top: 0;
  height: 90px;
  background-size: 100% 100%;
  height: 200px;
  width: 200px;
}

.download-app {
  color: white;
  background-color: #45138c;
  border-radius: 17px;
  padding: 22px 39px;
}
.download-app h2 {
  color: white;

  font-family: Almarai-ExtraBold;
}

.bigapp {
  height: 77px;
  border-radius: 11px;
}
.mySlides img {
  width: 60%;
  margin: 0px auto;
  display: block;
}
.mySlidest img {
  width: 60%;
  margin: 0px auto;
  display: block;
}

footer {
  background-color: #181133;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-logo {
  margin-bottom: 28px;
  height: 42px;
}
footer p {
  color: white;
  font-size: 14px;
  font-weight: 200;
}
.footerlinks a {
  color: white;
  display: block;
}
footer h4 {
  color: white;
  font-family: Almarai-ExtraBold;
  margin-bottom: 28px;
  font-size: 22px;
}
.mb1 {
  margin-bottom: 1em;
}
ul.arabic-list {
  list-style-type: none;
  direction: rtl;
}

.arabic-list li {
  direction: rtl;
}

.arabic-list li:before {
  padding: 5px;
}

.arabic-list {
  counter-reset: counter -28;
}

.arabic-list li:nth-child(28n + 1):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 2):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 3):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 4):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 5):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 6):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 7):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 8):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 9):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 10):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 11):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 12):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 13):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 14):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 15):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 16):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 17):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 18):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 19):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 20):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 21):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 22):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 23):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 24):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 25):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 26):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 27):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(28n + 28):before {
  counter-increment: counter;
  content: "•" counter(counter) ".";
}

.arabic-list li:nth-child(1):before {
  content: "•";
}

.arabic-list li:nth-child(2):before {
  content: "•";
}

.arabic-list li:nth-child(3):before {
  content: "•";
}

.arabic-list li:nth-child(4):before {
  content: "•";
}

.arabic-list li:nth-child(5):before {
  content: "•";
}

.arabic-list li:nth-child(6):before {
  content: "•";
}

.arabic-list li:nth-child(7):before {
  content: "•";
}

.arabic-list li:nth-child(8):before {
  content: "•";
}

.arabic-list li:nth-child(9):before {
  content: "•";
}

.arabic-list li:nth-child(10):before {
  content: "•";
}

.arabic-list li:nth-child(11):before {
  content: "•";
}

.arabic-list li:nth-child(12):before {
  content: "•";
}

.arabic-list li:nth-child(13):before {
  content: "•";
}

.arabic-list li:nth-child(14):before {
  content: "•";
}

.arabic-list li:nth-child(15):before {
  content: "•";
}

.arabic-list li:nth-child(16):before {
  content: "•";
}

.arabic-list li:nth-child(17):before {
  content: "•";
}

.arabic-list li:nth-child(18):before {
  content: "•";
}

.arabic-list li:nth-child(19):before {
  content: "•";
}

.arabic-list li:nth-child(20):before {
  content: "•";
}

.arabic-list li:nth-child(21):before {
  content: "•";
}

.arabic-list li:nth-child(22):before {
  content: "•";
}

.arabic-list li:nth-child(23):before {
  content: "•";
}

.arabic-list li:nth-child(24):before {
  content: "•";
}

.arabic-list li:nth-child(25):before {
  content: "•";
}

.arabic-list li:nth-child(26):before {
  content: "•";
}

.arabic-list li:nth-child(27):before {
  content: "•";
}

.arabic-list li:nth-child(28):before {
  content: "•";
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #14b4ec;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 1px solid #14b4ec;
}

.actives,
.dot:hover {
  background-color: white;
}

.fades {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.main-dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slider-caption {
  color: white;
  text-align: center;
  padding: 78px 19px;
  padding-bottom: 22px;
  font-size: 23px;
}
.sub-title {
  color: #e5125f;
  font-family: Almarai-ExtraBold;
  font-size: 26px;
  margin-bottom: 28px;
}
.black-bold {
  font-size: 31px;
  font-weight: bold;
  font-family: Almarai-ExtraBold;
  line-height: 38px;
  display: block;
}
p {
  font-size: 23px;
}
.black-icon {
  height: 56px;
  margin-top: 23px;
}
.fa-bars {
  font-size: 29px !important;
}
.navbar {
  padding: 0px 53px;
}
.shadow {
  box-shadow: 4px 3px 6px 0px #e6e6e6;
}
.fapp {
  height: 55px;
  display: block;
  width: auto;
}
.faq {
  margin-top: 2em;
}
.navbar-brand img {
  height: 99px;
}
.purple-bg {
  background-color: #451a88;
}
.norel {
  position: unset;
}
.pimg {
  position: absolute;
  right: 0;
  bottom: -100px;
  left: -66px;
}
.overimg:before {
  content: "";

  background-image: url("../img/phonepair.png");
  top: 58px;
  left: 33%;
  right: 0%;
  position: absolute;
  width: 967px;
  height: 1027px;
  background-size: 100% 100%;
}
.sec {
  padding-top: 70px;
  padding-bottom: 70px;
}
.smt {
  margin-top: 56px;
}
.shoppergetapp {
  background-image: url(../img/shopper-app.png);
  background-size: cover;
  background-position: center center;
  padding-top: 80px;
  position: relative;
  padding-bottom: 80px;
}
.shoppergetapp:before {
  content: " ";
  background-image: url(../img/shopper-left-corner.png);
  position: absolute;
  left: 0px;
  top: 0;
  height: 90px;
  background-size: 100% 100%;
  height: 200px;
  width: 200px;
}
@media only screen and (max-width: 1472px) {
  .overimg:before {
    width: 903px;
    height: 968px;
  }
}
@media only screen and (max-width: 1400px) {
  .overimg:before {
    width: 833px;
    height: 909px;
  }
}
@media only screen and (max-width: 1260px) {
  .overimg:before {
    width: 757px;
    height: 785px;
  }
}
@media only screen and (max-width: 1132px) {
  .overimg:before {
    width: 705px;
    height: 744px;
  }
}
.bighide {
  display: none;
}
@media only screen and (max-width: 1116px) {
  .db {
    display: block;
  }
  .tleft,
  .tright {
    min-width: 100%;
  }
  .norel {
    position: relative;
  }
  .overimg:before {
    display: none;
  }
  .bighide {
    display: block;
    position: absolute;
    top: 0;
  }
}
@media only screen and (min-width: 1672px) {
  .overimg:before {
    width: 1062px;
    height: 1130px;
  }
}
@media only screen and (min-width: 1800px) {
  .overimg:before {
    width: 1127px;
    height: 1173px;
  }
}
@media only screen and (min-width: 1900px) {
  .overimg:before {
    width: 1176px;
    height: 1229px;
  }
}
@media only screen and (min-width: 2036px) {
  .overimg:before {
    width: 1341px;
    height: 1320px;
  }
}

@media only screen and (max-width: 1326px) {
  .black-bold {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
  .sub-title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1218px) {
  .tab-full {
    min-width: 100%;
  }
  .slider-caption {
    padding: 23px 19px;
  }
}
@media only screen and (max-width: 1077px) {
  .main-title {
    font-size: 42px;
  }
}
@media only screen and (max-width: 900px) {
  .main-title {
    font-size: 33px;
  }
}
@media only screen and (max-width: 992px) {
  .navbar-nav {
    margin-top: 27px;
    display: block;
  }
  .nav-item {
    margin-bottom: 18px;
  }
  .navbar-nav .active {
    display: inline-block;
  }
  .text-pad {
    padding: 28px 78px;
  }
}
@media only screen and (max-width: 862px) {
  .main-title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .main-title {
    text-align: center;
  }
  .m-center {
    text-align: center;
  }
}
